
.section-header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;  
   
  }

nav ul li a.active{
    font-weight: bold;
    color: red;
  }
  
  .section-header nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .section-header nav ul li{
    margin: 0 15px;
  }

  .section-header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
  }
  